[submodule "esp32_a2dp_receiver/lib/Arduino_SAAB_ICM2_LCD_Driver"]
	path = esp32_a2dp_receiver/lib/Arduino_SAAB_ICM2_LCD_Driver
	url = https://github.com/KickingAnimal/Arduino_SAAB_ICM2_LCD_Driver.git
